<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/about.css">
</head>
<body>
     <div class="container">
        <div class="header">
            <h1 style="text-align: center;">Sejarah Restoran Sigma</h1>
            <h2>Restoran "Sigma" didirikan pada tahun 1980 oleh pasangan suami istri, Pak Amba dan Mba Tron, di kota Yogyakarta. Awalnya, restoran ini hanyalah sebuah warung kecil yang menjual nasi goreng dan mie goreng dengan saus spesial mereka di pinggir jalan. Dengan cita rasa masakan yang autentik dan pelayanan yang ramah, Warung Siga perlahan menarik perhatian banyak pelanggan,hingga presiden prabwowo datang untuk mencoba masakan tersebut . Pada tahun 1995, restoran ini diperluas dan mulai menyajikan berbagai hidangan tradisional Jawa, seperti gudeg dan sate ayam. Hingga kini, Warung Legenda tetap menjadi salah satu destinasi kuliner favorit di Yogyakarta, dikenal karena mempertahankan resep asli keluarga yang diwariskan secara turun-temurun.</h2>
        </div>
</body>
</html>